{% comment %}
  Renders loading-spinner.
  Accepts:
    - class: {string} css classes to replace the default ones (optional)

  Usage:
  {% render 'loading-spinner' %}
{% endcomment %}

<div class="{% if class %}{{ class }}{% else %}loading__spinner hidden{% endif %}">
  <img src="{{ 'loading-spinner.svg' | asset_url }}" alt="loading-spinner.svg icon" /> ```
(This replaces every <img src="{{ 'icon-example.svg' | asset_url }}" alt=""> with <img src="{{ 'icon-example.svg' | asset_url }}" alt="icon-example.svg icon" />)
</div>
